.box{
  text-align: center;
}

.box h2{
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

.list_ul {
  overflow-y: auto;
  max-height: 90px;
  padding: 0;
  margin: 0;
  width: 100%;
  margin: 0 10px;
}

.list_ul li{
  list-style: none;
  margin-bottom: 3px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 150px;
}

.close{
  height: 20px;
  width: auto;
  margin-right: 20px;
}

.form{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 220px;
}

.form input {
  height: 25px;
  border-radius: 3px;
  border: 1px solid #878c97;
  margin-bottom: 5px;
}

.form input:focus {
  outline: #4267B2;
}

.form button{
  background: #4267B2;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  height: 30px;
  border: none;
  font-size: medium;
}

.form button:hover{
  background: #34528ff1;
}