.box{
  width: 240px;
  height: 100px;
  margin: 10px;

  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

