.box{
  display: flex;
  align-items: baseline;
}

.head{
  margin: 0;
}

.box h2{
  font-size: 30px;
  margin: 0;
  margin-bottom: 10px;
}

.box p{
  font-size: 18px;
  position: relative;
  top: 10px;
  z-index: 10;
}

.price{
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 45px;
  font-family: LCD;
  position: relative;
  top: 10px;
  z-index: 10;
}